.bookmark {
  border: none;
  padding: 0.5rem;
  background-color: transparent;
  border-color: none;
  border-style: none;
}

.bookmark:hover {
  cursor: pointer;
}

.bookmark--active {
  color: var(--black);
}

.bookmark__icon {
  /*fill: currentcolor;*/
}

.bookmark__icon:hover {
  height: 56px;
}

/*
.card__button-bookmark:hover {
  cursor: pointer;
}

.card__bookmark {
  height: 40px;
  position: absolute;
}

.card__bookmark:hover {
  height: 48px;
}
*/
