.card {
  border-radius: 8px;
  background-color: var(--color-2);
  margin: 32px;
  padding: 32px;
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__bookmark {
  height: 40px;
  position: relative;
  top: -40px;
  left: 48%;
}

.card__p {
  font-family: Josefin Sans;
  font-size: 40px;
  line-height: 56px;
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 32px;
}

.card__button {
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-0-2);
  padding: 24px;
  margin: 32px;
  border-style: none;
  border-radius: 8px;
  background-color: var(--color-1);
}

button:hover {
  background-color: var(--color-1-b);
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.card__tags a {
  font-weight: 200;
  color: var(--color-0-2);
  background-color: var(--color-3);
  padding: 8px;
  margin: 48px 8px 8px 8px;
  border-radius: 4px;
}
