.card {
  font-family: "Josefin Sans";
  border-radius: 8px;
  background-color: var(--color-2);
  margin: 2rem;
  padding: 2rem;
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
  background-color: transparent;
  border-color: none;
  border-style: none;
}

.card__question {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 24px;
}

.card__answer {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 40px;
}

.card__answer--off {
  display: none;
}

.card__button-answer {
  font-family: "Josefin Sans";
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-0-2);
  padding: 24px;
  margin: 32px;
  border-style: none;
  border-radius: 8px;
  background-color: var(--color-1);
  transition: 0.3s ease-in-out;
}

.card__button-answer:hover {
  background-color: var(--color-1-b);
  cursor: pointer;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.card__tag-list-item {
  font-weight: 200;
  color: var(--color-0-2);
  background-color: var(--color-3);
  padding: 8px;
  margin: 48px 8px 8px 8px;
  border-radius: 4px;
}
