.form {
  padding: 10rem 6rem 8rem 6rem;
}

fieldset {
  margin-bottom: 2rem;
}

textarea {
  width: 100%;
}

.tag-input {
  width: 100%;
}

.form__character-count {
  font-size: inherit;
  color: #666;
}
