.navigation {
  background-color: var(--color-1);
  width: 100vw;
  height: 80px;
  position: fixed;
  bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly; /* distribute horizontally */
  /* align-items: center; /* vertical */
}

nav img {
  height: 80px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  aspect-ratio: 1;
}

nav img:hover {
  /* height: 24px; 
  background-color: var(--color-1-b); */
  opacity: 0.7;
}
